<html>
    <head>
        <title>Blog Admin Panel</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
          </style>
    </head>
    <link rel="stylesheet" type="text/css" href="../css/header.css"></link>
    <body>
        <div class="sidebar">
            <div class="sidebar-item selected">Users</div>
            <div class="sidebar-item">Topics</div>
            <div class="sidebar-item">Articles</div>
            <div class="sidebar-item">Logout</div>
        </div>
        <div class="container">
    