<%- include("./header.ejs") %>
    <!-- <container> -->
        <div class="textfield">
            <label>Email</label>
            <input class="input" placeholder="email"/>
        </div>
        <div>
            <label>Subscribed</label>
            <div class="subscribed-list">
                <div class="item">
                    <input type="checkbox" value="Anime"/>
                    <label>Anime</label>
                </div>
                <div class="item">
                    <input type="checkbox" value="Anime"/>
                    <label>Anime</label>
                </div>
                <div class="item">
                    <input type="checkbox" value="Anime"/>
                    <label>Anime</label>
                </div>
                <div class="item">
                    <input type="checkbox" value="Anime"/>
                    <label>Anime</label>
                </div>
                <div class="item">
                    <input type="checkbox" value="Anime"/>
                    <label>Anime</label>
                </div>
                <div class="item">
                    <input type="checkbox" value="Anime"/>
                    <label>Anime</label>
                </div>
            </div>
            <div>Block</div>
            <div>Unblock</div>
            <div>Make Admin</div>
            <div>Make User</div>
        </div>
    <!-- </container> -->
<%- include("./footer.ejs") %>