<%- include("./header.ejs") %>
    <!-- <container> -->
        <div class="records">
            <div class="row">
                <div class="bold selected">Email</div>
                <div class="bold selected">Actions</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
            <div class="row">
                <div>morisidhraj001</div>
                <div>Edit</div>
            </div>
        </div>
    <!-- </container> -->
<%- include("./footer.ejs") %>